<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="WorkTracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkTracker"
        tools:targetApi="31">
        <activity
            android:name=".AddTask"
            android:exported="false" />
        <activity
            android:name=".ViewTasks"
            android:exported="false" />
        <activity
            android:name=".ViewHours"
            android:exported="false" />

        <service
            android:name=".Lokalizacja"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ArchiwumZ"
            android:exported="false" />
        <activity
            android:name=".InfoPracownik"
            android:exported="false" />
        <activity
            android:name=".ManagerScreen"
            android:exported="false" />
        <activity
            android:name=".ManagerMainScreen"
            android:exported="false" />
        <activity
            android:name=".Godziny"
            android:exported="false" />
        <activity
            android:name=".Urlopy"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Wykonane"
            android:exported="false" />
        <activity
            android:name=".WTrakcie"
            android:exported="false" />
        <activity
            android:name=".DoZrobienia"
            android:exported="false" />
        <activity
            android:name=".WorkTrackerMainScreen"
            android:exported="false" />
        <activity
            android:name=".Statystyki"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Zadania"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="WorkTracker"
            android:theme="@style/Theme.WorkTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>